// Fonts

@font-face {
  font-family: "ImFeelGreat";
  src: url("~@/assets/fonts/imfellgreatprimersc-regular-webfont.woff2")
      format("woff2"),
    url("~@/assets/fonts/imfellgreatprimersc-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  src: url("~@/assets/fonts/cormorantsc-regular-webfont.woff2") format("woff2"),
    url("~@/assets/fonts/cormorantsc-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  src: url("~@/assets/fonts/cormorantsc-medium-webfont.woff2") format("woff2"),
    url("~@/assets/fonts/cormorantsc-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  src: url("~@/assets/fonts/cormorantsc-semibold-webfont.woff2") format("woff2"),
    url("~@/assets/fonts/cormorantsc-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  src: url("~@/assets/fonts/cormorantsc-light-webfont.woff2") format("woff2"),
    url("~@/assets/fonts/cormorantsc-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant";
  src: url("~@/assets/fonts/cormorantsc-bold-webfont.woff2") format("woff2"),
    url("~@/assets/fonts/cormorantsc-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("~@/assets/fonts/Montserrat-Extrabold.woff2") format("woff2"),
    url("~@/assets/fonts/Montserrat-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("~@/assets/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("~@/assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("~@/assets/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("~@/assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("~@/assets/fonts/Montserrat-Medium.woff2") format("woff2"),
    url("~@/assets/fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("~@/assets/fonts/Montserrat-Semibold.woff2") format("woff2"),
    url("~@/assets/fonts/Montserrat-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("~@/assets/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("~@/assets/fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
