@import './abstract.scss';

@import '~normalize-scss/sass/normalize/import-now';

body {
  background: $administratum-grey;
  font-family: 'Montserrat';
  color: $mine-shaft;
  margin: 0;
  overflow-x: hidden;
}
